{% extends 'userPage/header.html' %}
{% load static %}
{% block content %}
<div class="container-fluid w-100 my-4 ps-1 pe-1" style="overflow-x: auto;" id="clientList">
    <div class="container mb-4">
        <nav aria-label="breadcrumb" class="border border-2">
          <ol class="breadcrumb my-0 p-2">
              <li class="breadcrumb-item fw-bold"><a href="{% url 'adminPage' %}">Admin</a></li>
              <li class="breadcrumb-item active">Client's Details</li>
          </ol>
        </nav>
    </div>
    <table class="table align-middle mb-0 bg-white">
        <thead class="bg-dark text-light">
            <tr>
                <th style="width:240px!important;" class="fw-bold">Name / ReferenceID</th>
                <th style="width:100px!important;" class="fw-bold">Phone No.</th>
                <th style="width:100px!important;" class="fw-bold">Plot Size</th>
                <th style="width:150px!important;" class="fw-bold">Amount</th>
                <th style="width:100px!important;" class="text-center fw-bold">Status</th>
                <th style="width:100px!important;" class="text-center fw-bold">Date</th>
                <th style="width:80px!important;" class="text-center fw-bold">Actions</th>
            </tr>
        </thead>
        {% for client in clients reversed %}
        <tbody>
            <tr>
                <td>
                    <div class="d-flex align-items-center" style="width:150px!important;">
                        <i class="fas fa-user-circle fa-3x" style="width: 45px; height: 45px" class="rounded-circle"></i>
                        <div class="ms-3">
                            <p class="fw-bold mb-1">{{client.name|truncatewords:1}}</p>
                            <p class="text-muted mb-0">{{client.referenceID}}</p>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="d-flex align-items-center" style="width:120px!important;">
                        <div>
                            <p class="fw-normal mb-1">+91-{{client.phone}}</p>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="d-flex align-items-center" style="width:180px!important;">
                        <div>
                            <p class="fw-normal mb-1"><b>Plot: </b>{{client.plotSize}} Sqft.</p>
                            <p class="fw-normal mb-0"><b>Built-Up: </b>{{client.builtArea}} Sqft.</p>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="d-flex align-items-center" style="width:180px!important;">
                        <div>
                            <p class="fw-normal mb-1"><b>Total: </b>{{client.totalCost|floatformat}} Rs.</p>
                            <p class="fw-normal mb-0"><b>Remaining: </b>{{client.pendingAmount|floatformat}} Rs.</p>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="d-flex align-items-center justify-content-center mx-auto" style="width:150px!important;">
                        <div>
                            <span class="badge badge-success rounded-pill d-inline px-3 py-2">{{client.projectStatus}}</span>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="d-flex align-items-center justify-content-center mx-auto" style="width:130px!important;">
                        <div>
                            <p class="mb-0"><span class="fw-bold">Start - </span> {{client.projectStartDate|date:"d/m/Y" }}</p>
                            <p class="mb-0"><span class="fw-bold">End - </span> {{client.projectEndDate|date:"d/m/Y" }}</p>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="d-flex align-items-center justify-content-center mx-auto" style="width:80px!important;">
                        <div>
                            <a class="btn btn-outline-primary btn-sm btn-rounded" href="{% url 'clientInfo' client.id %}">
                                View
                            </a>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
        {% endfor %}
    </table>
</div>
{% endblock content %}