{% extends 'userPage/header.html' %}
{% load static %}
{% block content %}
<div class="container-fluid w-100 my-4 ps-1 pe-1" style="overflow-x: auto;" id="clientList">
    <table class="table align-middle mb-0 bg-white">
        <thead class="bg-dark text-light">
            <tr>
                <th style="width:220px!important;">Name / Phone No.</th>
                <th style="width:200px!important;">Project Title</th>
                <th style="width:180px!important;" class="text-center">Project Status</th>
                <th style="width:180px!important;" class="text-center">Project Dates</th>
                <th style="width:180px!important;" class="text-center">Actions</th>
            </tr>
        </thead>
        {% for project in projects reversed %}
        <tbody>
            <tr>
                <td>
                    <div class="d-flex align-items-center" style="width:220px!important;">
                        <i class="fas fa-user-circle fa-3x" style="width: 45px; height: 45px" class="rounded-circle"></i>
                        <div class="ms-3">
                            <p class="fw-bold mb-1">{{project.client.name|truncatewords:2}}</p>
                            <p class="text-muted mb-0">+91-{{project.client.phone}}</p>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="d-flex align-items-center" style="width:200px!important;">
                        <div>
                            <p class="fw-bold mb-1">{{project.client.projectTitle}}</p>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="d-flex align-items-center justify-content-center mx-auto" style="width:180px!important;">
                        <div>
                            <span class="badge badge-success rounded-pill d-inline px-3 py-2">{{project.client.projectStatus}}</span>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="d-flex align-items-center justify-content-center mx-auto" style="width:180px!important;">
                        <div>
                            <p class="mb-1"><span class="fw-bold">Start - </span>{{project.client.projectStartDate}}</p>
                            <p class="mb-0"><span class="fw-bold">End - </span>{{project.client.projectEndDate}}</p>
                        </div>
                    </div>
                </td>
                <td class="text-end">
                    <div class="d-flex align-items-center justify-content-center mx-auto" style="width:300px!important;">
                        <div>
                            <a class="btn btn-outline-primary btn-sm btn-rounded" href="{% url 'project' project.client.id %}">
                                View Project
                            </a>
                            <a class="btn btn-outline-danger btn-sm btn-rounded" href="{% url 'genratePdf' project.client.id %}">
                                Genrate PDF
                            </a>   
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
        {% endfor %}
    </table>
</div>
{% endblock content %}