{% extends 'userPage/header.html' %}
{% load static %}
{% block content %}
<header>
    <!-- Background image -->
    <div id="intro-example" class="p-5 text-center" style="height: 100vh;">

        <div class="mask">
            <div class="d-flex justify-content-center align-items-center h-100">
                <div class="text-dark">
                    <img src="{% static 'userPage/img/done.gif' %}" class="w-50" alt="Done"/>
                    <h1 class="mb-3">Thank You!!! Quote Placed...</h1>
                    <h5 class="mb-4">We'll approach you very soon.</h5>
                    <a class="btn btn-outline-dark btn-lg m-2" data-mdb-ripple-color="success" href="{% url 'userHome' %}">Go Back</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Background image -->
</header>
{% endblock content %}