{% extends 'userPage/header.html' %} {% load static %} {% block content %}
<div class="container">
    <nav aria-label="breadcrumb" class="border border-2 my-4">
        <ol class="breadcrumb my-0 p-2">
            <li class="breadcrumb-item fw-bold"><a href="{% url 'adminPage' %}">Admin</a></li>
            <li class="breadcrumb-item active"><a href="{% url 'project' project.client.id %}">Project Details</a></li>
            <li class="breadcrumb-item active">New Post</li>
        </ol>
    </nav>
    <div class="d-flex justify-content-between align-items-center">
        <div>
            <h1 class="text-start pb-3" id="below">New Post's Deatils</h1>
        </div>
    </div>
    <form action="{% url 'postUpload' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <input type="hidden" name="clientId" id="clientId" value="{{project.client.id}}"/>

        <div class="row px-0">
            <div class="col-12 col-md-6">
                <div class="form-outline mb-3 ">
                    <input type="text" name="projectClientName" id="projectClientName" class="form-control" disabled/>
                    <label class="form-label" for="projectClientName">Client - <b>{{project.client.name}}</b> / <b>{{project.client.referenceID}}</b></label>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="form-outline mb-3 ">
                    <input type="text" name="projectPendingAmt" id="projectPendingAmt" class="form-control" disabled/>
                    <label class="form-label" for="projectPendingAmt">Client Pending Amount - <b>{{project.client.pendingAmount}} Rs.</b></label>
                </div>
            </div>
        </div>

        <div class="form-outline mb-3">
            <input type="text" name="postName" id="postName" class="form-control" required/>
            <label class="form-label" for="postName">Enter Post Name</label>
        </div>

        <div class="form-outline mb-3">
            <input type="text" name="pendingAmt" id="pendingAmt" class="form-control" required/>
            <label class="form-label" for="pendingAmt">Enter Amount Paid</label>
        </div>
        
        <div class="form-outline mb-3">
            <textarea class="form-control" name="postDetail" id="projectDetail" rows="3" required></textarea>
            <label class="form-label" for="postDetail">Enter Post Details Here...</label>
        </div>
        
        <div class="row px-0 mx-0 border border-3 pt-3 mb-3">
            
            <div class="custom-file mb-4 col-6">
                <label class="form-label">Select Image 1</label>
                <input type="file" name="imageFile1" class="form-control" id="imageFile1" accept="image/*" required/>
            </div>
            <div class="custom-file mb-4 col-6">
                <label class="form-label" >Select Image 2</label>
                <input type="file" name="imageFile2" class="form-control" id="imageFile2" accept="image/*" required/>
            </div>
            <div class="custom-file mb-4 col-6">
                <label class="form-label" >Select Image 3</label>
                <input type="file" name="imageFile3" class="form-control" id="imageFile3" accept="image/*"/>
            </div>
            <div class="custom-file mb-4 col-6">
                <label class="form-label" >Select Image 4</label>
                <input type="file" name="imageFile4" class="form-control" id="imageFile4" accept="image/*"/>
            </div>
            <div class="custom-file mb-4 col-6">
                <label class="form-label">Select Image 5</label>
                <input type="file" name="imageFile5" class="form-control" id="imageFile5" accept="image/*"/>
            </div>
            <div class="custom-file mb-4 col-6">
                <label class="form-label" >Select Image 6</label>
                <input type="file" name="imageFile6" class="form-control" id="imageFile6" accept="image/*"/>
            </div>
            <div class="custom-file mb-4 col-6">
                <label class="form-label" >Select Image 7</label>
                <input type="file" name="imageFile7" class="form-control" id="imageFile7" accept="image/*"/>
            </div>
            <div class="custom-file mb-4 col-6">
                <label class="form-label" >Select Image 8</label>
                <input type="file" name="imageFile8" class="form-control" id="imageFile8" accept="image/*"/>
            </div>
            <div class="custom-file mb-4 col-6">
                <label class="form-label">Select Image 9</label>
                <input type="file" name="imageFile9" class="form-control" id="imageFile9" accept="image/*"/>
            </div>
            <div class="custom-file mb-4 col-6">
                <label class="form-label" >Select Image 10</label>
                <input type="file" name="imageFile10" class="form-control" id="imageFile10" accept="image/*"/>
            </div>
        
        </div>

        <button type="submit" class="btn btn-primary btn-block mb-4">Send</button>
    </form>
</div>
{% endblock content %}