{% extends 'userPage/headerAdmin.html' %}
{% load static %}
{% block content %}
<div class="container-fluid w-100 my-4 ps-1 pe-1" style="overflow-x: auto;" id="clientList">
    <div class="container mb-4">
      <nav aria-label="breadcrumb" class="border border-2">
        <ol class="breadcrumb my-0 p-2">
            <li class="breadcrumb-item fw-bold"><a href="{% url 'adminPage' %}">Admin</a></li>
            <li class="breadcrumb-item active">Verify Clients</li>
        </ol>
      </nav>
    </div>
    <div class="container mb-4">
      <table class="table mb-0 bg-white px-0">
        <thead class="bg-dark text-light">
            <tr>
                <th style="width:220px!important;" class="fw-bold">Name / Phone No.</th>
                <th style="width:130px!important;" class="fw-bold">Plot Size</th>
                <th style="width:100px!important;" class="fw-bold">Project Cost</th>
                <th style="width:480px!important;" class="text-center fw-bold">Actions</th>
            </tr>
        </thead>
        {% for client in clients reversed %}
        <tbody>
            <tr>
                <td>
                    <div class="d-flex align-items-center" style="width:220px!important;">
                        <i class="fas fa-user-circle fa-3x" style="width: 45px; height: 45px" class="rounded-circle"></i>
                        <div class="ms-3">
                            <p class="fw-bold mb-1">{{client.name|truncatewords:2}}</p>
                            <p class="text-muted mb-0">{{client.phone}}</p>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="d-flex align-items-center" style="width:130px!important;">
                        <div>
                            <p class="fw-normal mb-1"><b>Plot:</b> {{client.plotSize}} Sqft.</p>
                            <p class="fw-normal mb-0"><b>Built:</b> {{client.builtArea}} Sqft.</p>
                        </div>
                    </div>
                </td>
                <td>
                  <div class="d-flex align-items-center justify-content-center mt-2 pt-1" style="width:100px!important;">
                      <div>
                          <p class="fw-bold text-success mb-0"><b>{{client.totalCost}} Rs.</b></p>
                      </div>
                  </div>
                </td>
                <td>
                    <div  class="d-flex align-items-center justify-content-center mt-2 pt-1" style="width:480px!important;">
                        <div>
                            <a class="btn btn-outline-primary btn-sm btn-rounded" href="{% url 'clientInfo' client.id %}"><i class="far fa-edit me-1"></i> View</a>
                            <a class="btn btn-outline-primary btn-sm btn-rounded" href="{% url 'updateClientInfo' client.id %}" role="button"><i class="fas fa-pen me-1"></i> Edit</a>
                            <a class="btn btn-outline-success btn-sm btn-rounded" href="tel:+91{{client.phone}}" role="button"><i class="fas fa-phone me-1"></i> Call</a>
                            <a class="btn btn-success btn-sm btn-rounded" data-mdb-toggle="modal" href="#approveModal{{client.id}}" role="button"><i class="far fa-check-circle me-1"></i> Approve</a>
                            <a class="btn btn-danger btn-sm btn-rounded" data-mdb-toggle="modal" href="#deleteModal{{client.id}}" role="button"><i class="fas fa-trash-alt me-1"></i> Cancel</a>
                        </div>
                    </div>    
                </td>
            </tr>
        </tbody>
        <!-- First modal dialog -->
        <div class="modal fade" id="approveModal{{client.id}}" aria-hidden="true" aria-labelledby="exampleModalToggleLabel1" tabindex="-1">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header bg-success">
                <h5 class="modal-title fw-bold" id="exampleModalToggleLabel1">Approval Confirmation!!!</h5>
                <button type="button" class="btn-close fw-bold" data-mdb-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <b>{{client.name}}'s</b> project will be approved.
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-mdb-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-success" data-mdb-toggle="modal" data-mdb-target="#projectModal{{client.id}}">Yes, Proceed</button>
              </div>
            </div>
          </div>
        </div>
        <!-- First Next modal dialog -->
        <div class="modal fade" id="projectModal{{client.id}}" aria-hidden="true" aria-labelledby="exampleModalToggleLabel3" tabindex="-1">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header bg-primary">
                <h5 class="modal-title fw-bold text-light" id="exampleModalToggleLabel3">Enter Project Details.</h5>
                <button type="button" class="btn-close fw-bold" data-mdb-dismiss="modal" aria-label="Close"></button>
              </div>
              <form method="POST" action="{% url 'verifyClients' %}">
                {% csrf_token %}
                <div class="modal-body"> 
                    <input type="hidden" id="clientID" name="clientID" value="{{client.id}}"/>
                    <div class="form-outline mb-3">
                      <input type="text" id="projectTitle" name="projectTitle" class="form-control" required/>
                      <label class="form-label" for="projectTitle">Enter Project Title</label>
                    </div>
                    <div class="form-outline mb-3">
                      <input type="number" id="finalProjectCost" name="finalProjectCost" class="form-control" required/>
                      <label class="form-label" for="finalProjectCost">Enter Final Project Cost</label>
                    </div>
                    <div class="form-outline mb-3">
                      <input type="number" id="tokenAmount" name="tokenAmount" class="form-control" required/>
                      <label class="form-label" for="tokenAmount">Enter Token Amount</label>
                    </div>
                    <div class="form-outline mb-3">
                      <input type="text" id="reqClient" name="reqClient" class="form-control" required/>
                      <label class="form-label" for="reqClient">Enter Client's Requirements</label>
                    </div>
                    <div class="row">
                      <div class="col-6">
                        <div class="form-outline">
                          <input type="date" id="startDate" name="startDate" class="form-control preDate" required/>
                          <label class="form-label" for="startDate">Enter Project Start Date</label>
                        </div>
                      </div>
                      <div class="col-6">
                        <div class="form-outline">
                          <input type="date" id="endDate" name="endDate"  class="form-control preDate" required/>
                          <label class="form-label" for="endDate">Enter Project End Date</label>
                        </div>
                      </div>
                    </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-danger" data-mdb-dismiss="modal">Cancel</button>
                  <button type="submit" class="btn btn-primary">Done</button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <!-- Second modal dialog -->
        <div class="modal fade" id="deleteModal{{client.id}}" aria-hidden="true" aria-labelledby="exampleModalToggleLabel22" tabindex="-1">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header bg-danger">
                <h5 class="modal-title fw-bold" id="exampleModalToggleLabel22">Delete Confirmation!!!</h5>
                <button type="button" class="btn-close fw-bold" data-mdb-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <b>{{client.name}}'s</b> project will be deleted.
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-mdb-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-success">Yes, Proceed</button>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </table>
    </div>
</div>
<script>
  var dtToday = new Date();
  var month = dtToday.getMonth() + 1;
  var day = dtToday.getDate();
  var year = dtToday.getFullYear();
  if(month < 10)
      month = '0' + month.toString();
  if(day < 10)
      day = '0' + day.toString();
  var maxDate = year + '-' + month + '-' + day;
  $('.preDate').attr('min', maxDate);
</script>
{% endblock content %}